* {
  margin: 0;
  font-family: sans-serif;
}

body {
  height: 100%;
  width: 100%;
  align-items: center;
  overflow: hidden;
  background-image: url("../assets/backgroundblurred.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

/*Entire navigation bar*/
.navbar {
  background-color: #c8d8e4;
  display: flex;
  align-items: center;
  height: clamp(20px, 4vw, 150px);
  min-height: 70px;
  padding: 0 20px 0 15px;
}

/*Div for buttons in nagivation bar*/
.navbar__navigation-buttons {
  background-color: #c8d8e4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 75%;
  height: 100%;
}
/*The buttons inside the said div above*/
.navbar__navigation-buttons button {
  background-color: #2b6777;
  color: white;
  height: 50%;
  min-width: 50px;
  width: 10%;
  font-size: clamp(10px, 1.3vw, 3vw);
  border-radius: 0.5vw;
  border: transparent;
  margin-left: 1vw;
}

/*Action for switching colors when hovering over both navigation and login buttons in navigation bar*/
.navbar__navigation-buttons button:hover, .navbar__login-box__button button:hover {
  background-color: #52ab98;
  cursor: pointer;
}

/*Div for the login buttons in navigation bar*/
.navbar__login-box__button {
  background-color: #c8d8e4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 25%;
  height: 100%;
}

/*Buttons inside said div above*/
.navbar__login-box__button button {
  background-color: #2b6777;
  color: white;
  height: 50%;
  min-width: 60px;
  width: 6vw;
  font-size: clamp(10px, 1.3vw, 3vw);
  border-radius: 1vw;
  border: transparent;
  margin-left: 1vw;
}




/*Login box that contains all the login fields in center of screen*/
.login-box {
  background-color: white;
  display: flex;
  place-items: center;
  flex-direction: column;
  min-width: 300px;
  padding-bottom: 30px;
  border-radius: 20px;
  width: 25%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  border: 2px solid black
}

/*Large text at the top of the login box*/
.login-box__text {
  margin: 30px 0 0 0;
  font-size: clamp(2.5rem, 3vw, 3rem);
}

/*Input fields inside the login box*/
.login-box__input-field {
  width: 66%;
  height: 30px;
  font-size: 1.25rem;
}

/*Input text above the input fields inside the login box*/
.login-box__input-text {
  /*background-color: lightgreen;*/
  margin-right: auto;
  margin-left: 80px;
  padding: 3px 0;
  margin-top: 20px;
  text-align: left;
}

/*Login button at the bottom of the login box*/
.login-box__button {
  width: 120px;
  height: 50px;
  font-size: 1.5rem;
  margin: 20px;
  background-color: black;
  border-radius: 5px;
  color: white;
}

/*Action for hovering on the login button*/
.login-box__button:hover {
  background-color: dimgray;
  transition: background-color 0.1s;
  cursor: pointer;
}

/*Action for when the login button is active (clicking)*/
.login-box__button:active {
  background-color: #52ab98;
}

/*Hyperlink div under the login button*/
.login-box__hyperlinks {
  display: flex;
  flex-direction: column;
}

/*Hyperlinks inside said div above inside the login box*/
.login-box__hyperlinks a {
  text-align: center;
  margin-bottom: 5px;
  font-size: 1em;
  color: #0000EE;
}

/*Action for when hyperlinks inside hyperlink div is active (clicking)*/
.login-box__hyperlinks a:active {
  color: #2b6777;
}





footer {
  display: flex;
  justify-content: space-between;
  font-size: 1vw;
  padding: 0 1vw;
}

/*Hyperlinks inside footer*/
footer a {
  text-decoration: none;
  color: blue;
}

/*Actions for hyperlinks inside footer for when they are active (clicking), being hovered on or have already been visited*/
footer a:active, footer a:hover, footer a:visited {
  color: blue;
}