footer {
    display: flex;
    justify-content: space-between;
    font-size: 1vw;
    padding: 0 1vw;
    background-color: var(--main-color);
    height: 2em;
}

.info {
    color: black;
    text-decoration: underline;
    margin-top: 0.5em;
}

.copyright {
    color: black;
    margin-top: 0.5em;
}

/*Actions for hyperlinks inside footer for when they are active (clicking), being hovered on or have already been visited*/
footer a:active, footer a:hover{
    color: blue;
}