/*Entire navigation bar*/
.navbar {
    background-color: #c8d8e4;
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 0 20px 0 15px;
}

/*Div for buttons in nagivation bar*/
.navbar__navigation-buttons {
    background-color: #c8d8e4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 75%;
    height: 100%;
}
/*The buttons inside the said div above*/
.navbar__navigation-buttons button {
    background-color: #2b6777;
    color: white;
    width: 100px;
    height: 40px;
    font-size: 1.3rem;
    border-radius: 0.5vw;
    border: transparent;
    margin-left: 1vw;
}

/*Action for switching colors when hovering over both navigation and login buttons in navigation bar*/
.navbar__navigation-buttons button:hover, .navbar__login-box__button button:hover {
    background-color: #52ab98;
    cursor: pointer;
}

/*Div for the login buttons in navigation bar*/
.navbar__login-box__button {
    background-color: #c8d8e4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
    height: 100%;
}

/*Buttons inside said div above*/
.navbar__login-box__button button {
    background-color: #2b6777;
    color: white;
    width: 100px;
    height: 40px;
    font-size: 1.3rem;
    border-radius: 1vw;
    border: transparent;
    margin-left: 1vw;
}

@media only screen and (max-width: 660px) {
    .navbar {
        padding: 0;
    }

    .navbar__navigation-buttons button {
        width: 50px;
        height: 35px;
        font-size: 0.8rem;
    }

    .navbar__login-box__button button {
        width: auto;
        height: 35px;
        font-size: 0.8rem;
    }

    #register-button__button {
        width: 60px;
        margin-right: 10px;
    }
}