.Main-Content {
    height: 90vh;
    display: flex;
    place-items: center;
}

.PrivacyStatement__div {
    background-color: white;
    display: flex;
    place-items: center;
    flex-direction: column;
    min-width: 300px;
    max-width: 600px;
    padding: 20px;
    border-radius: 20px;
    width: 30%;
    height: auto;
    margin: 0 auto;
    border: 2px solid black;
    overflow-y: auto;
    max-height: 80vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
