.profile-info-box__div {
    background-color: var(--main-color);
    border: 2px solid black;
    margin: 25px auto;
    padding: 5px;
    width: min(60%, 1000px);
    font-size: 1.75em;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 5px;
}

.profile-info-box__div div {
    display: flex;
}

.profile-info-box__div div p:first-child {
    width: 250px;
    font-weight: bold;
}

@media only screen and (max-width: 1000px) {
    .profile-info-box__div {
        width: 96%;
    }
}

@media only screen and (max-width: 660px) {
    .profile-info-box__div div p:first-child {
        width: auto;
    }

    .profile-info-box__div div {
        flex-direction: column;
    }
}