.rent-history__page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rent-history__filter {
    background-color: var(--main-color);
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.6);
    border: 2px solid black;
    height: auto;
    width: 66.5vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.rent-history__title {
    text-align: center;
}

.rent-history__items {
    background-color: var(--main-color);
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.6);
    border: 2px solid black;
    min-height: 35em;
    height: auto;
    width: 66.5vw;
    margin-bottom: 30px;
}

@media only screen and (max-width: 660px) {
    .rent-history__title {
        font-size: 25px;
    }
}
