.rental-vehicle-box__div {
    display: flex;
    margin: 1.5vh auto;
    width: 97%;
    height: 20dvh;
    flex-direction: row;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.rental-vehicle-image__div {
    display: flex;
    width: 30%;
    height: 95%;
    justify-content: center;
    align-self: center;
}

.rental-vehicle-image__div {
    height: 80%;
}

.rental-vehicle-data__div {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.rental-vehicle-auto__h3 {
    margin: 1% 0 0 2%;
    font-size: 1.2em;
    width: 96%;
}

.rental-vehicle-data-columns__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 1%;
}

.rental-vehicle-data-column1__div,
.rental-vehicle-data-column2__div {
    height: auto;
    width: 48%;
}

.rental-vehicle-data-column1__div {
    margin-left: 2%;
}

.rental-vehicle-data-column2__div {
    margin-right: 2%;
}

.rental-vehicle-title__p {
    margin: 1vh 0 0 2%;
    font-size: 0.5em;
    color: dimgray;
}

.rental-vehicle-info__p {
    margin: 0 0 0 2%;
    font-size: 0.8em;
}

.rental-vehicle-huur-box__div {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: auto;
    justify-content: center;
    text-align: center;
}

.rental-vehicle-huurprijs__p {
    font-weight: bold;
    font-size: 1.6em;
}

.rental-vehicle-kosten__p {
    font-size: 0.7em;
}

#rental-vehicle-huur-box__button {
    display: flex;
    margin: 10% auto 0 auto;
    justify-content: center;
    width: 50%;
    height: 20%;
    font-size: 1.25em;
    font-weight: bold;
}