/*________________________________________________________________________________________________________________*/
/* Main Div Layout (Content, divLeft, divTop, divMargin, divMain) */
.content {
    display: grid;
    grid-template-areas:
        "divLeft divTop"
        "divLeft divMargin"
        "divLeft divMain";
    width: 100%;
    margin: 3dvh 0;
}

.divLeft {
    grid-area: divLeft;
    background-color: #c8d8e4;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.6);
    border: 2px solid black;
    height: 25em;
}

.divTop {
    grid-area: divTop;
    background-color: #c8d8e4;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.6);
    border: 2px solid black;
    height: auto;
    width: 66.5vw;
    border-radius: 8px;

    display: flex;
    flex-direction: column; /* Stack children vertically */
    margin-bottom: 2vh;
}

select, input {
    width: 110px;
}

.divMain {
    grid-area: divMain;
    background-color: #c8d8e4;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.6);
    border: 2px solid black;
    min-height: 35em;
    height: auto;
    width: 66.5vw;
    border-radius: 8px;

}

/*________________________________________________________________________________________________________________*/
/* DivLeft consists of a textfield (DivLeft-Text-Filter) */

.divLeft-Text-Filter {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.5em;
}

/*________________________________________________________________________________________________________________*/
/* DivTop consists of a topDiv (divTop-header) and 3 rowDivs (divTop-divSelect-Voertuig/ophaalDatum/inleverDatum) */

.divTop-header {
    text-align: center;
    padding: 5px;
}

.divTop-header-Text-Huren {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 0.5em;
    text-align: center;
}

.rowDivs, .rowDivs2 {
    display: grid; /* Align child divs horizontally */
    justify-content: space-between; /* Spread divs evenly */
    grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
}

.rowDivs3 {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
}

.divTop-divSelect-Voertuig, .divTop-divSelect-ophaalDatum, .divTop-divSelect-inleverDatum {
    height: 2em;
    flex: 1; /* Make divs equal width */
    text-align: center;
}

.divTop-divSelect-Merk, .divTop-divSelect-Prijs, .divTop-divSelect-Beschikbaarheid {
    height: 2em;
    flex: 1; /* Make divs equal width */
    text-align: center;
}

/*________________________________________________________________________________________________________________*/
/* Next are all dropdown styles from divTop-divSelect-Voertuig */



/*________________________________________________________________________________________________________________*/
/* Next are all DateSelector styles from divTop-divSelect-ophaalDatum en divTop-divSelect-inleverDatum */

.divTop-search-bar-container {
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: space-evenly;
    margin: 0 20px;
}

.divTop-divSelect-Sorteren-dropdown-container {
    align-content: center;
}

.divTop-search-bar__input {
    width: 400px;
    font-size: 1.2em;
    margin-right: 5px;
}

.divTop-reset-filters__button {
    width: 90px;
}

.date-input {
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 122px;
}

#options {
    width: 130px;
}

.date-input:hover, .date-input:focus {
    border-color: #0056b3; /* Darker blue on hover/focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Blue glow */
}

.selected-date {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

@media only screen and (max-width: 1111px) {
    .content {
        margin: 3dvh 0;
    }

    .divLeft {
        display: none;
    }

    .divTop {
        gap: 15px;
    }

    .rowDivs {
        flex-direction: row;
    }

    .divTop-search-bar__input {
        width: 80%;
    }
}

@media only screen and (max-width: 660px) {
    .divTop-header-Text-Huren {
        text-align: center;
    }
    .rowDivs, .rowDivs2 {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 20%;
        align-items: center;
        margin: 0 auto;
    }

    select {
        width: 148px;
        text-align: center;
    }

    .date-input {
        width: 140px;
    }

    .divTop-search-bar-container {
        flex-direction: column;
        align-items: center;
        font-size: 0.8em;
    }

    .divTop-reset-filters__button {
        margin-top: 5px;
    }

    .rowDivs3 {
        height: 50px;
    }
}