.rental-vehicle-box__div {
    display: flex;
    margin: 0.5% auto;
    width: max(150px,65.5vw);
    height: auto;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: #f1f1f1;
    border: 2px solid black;
    /*background-color: red;*/
}

.rental-vehicle-image__div {
    display: flex;
    width: max(50px,30%);
    height: 95%;
    justify-content: center;
    align-self: center;
    padding: 2px;
    /*background-color: green;*/
}

.rental-vehicle-image__div {
    height: max(100px, 9vw);
}

.rental-vehicle-data__div {
    display: flex;
    width: 50%;
    flex-direction: column;
    /*background-color: blue;*/
}

.rental-vehicle-auto__h3 {
    margin: 1% 0 0 2%;
    font-size: 1.2em;
    /*background-color: darkmagenta;*/
    width: 96%;
}

.rental-vehicle-data-columns__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 1%;
}

.rental-vehicle-data-column1__div,
.rental-vehicle-data-column2__div {
    height: auto;
    width: 48%;
}

.rental-vehicle-data-column1__div {
    /*background-color: dodgerblue;*/
    margin-left: 2%;
}

.rental-vehicle-data-column2__div {
    /*background-color: lightpink;*/
    margin-right: 2%;
}

.rental-vehicle-title__p {
    margin: 0 0 0 2%;
    font-size: 0.5em;
    color: dimgray;
}

.rental-vehicle-info__p {
    margin: 0 0 2px 2%;
    font-size: max(15px,1vw);
}

.rental-vehicle-huur-box__div {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: auto;
    /*background-color: blueviolet;*/
    justify-content: center;
    text-align: center;
}

.rental-vehicle-huurprijs__p {
    font-weight: bold;
    font-size: 3vw;
}

.rental-vehicle-kosten__p {
    font-size: 1vw;
}

#rental-vehicle-huur-box__button {
    background-color: #2b6777;
    color: whitesmoke;
    display: flex;
    margin: 5% auto 0 auto;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 25%;
    font-size: 1.5vw;
    font-weight: bold;
    border-radius: 5px;
}

#rental-vehicle-huur-box__button:hover {
    background-color: #52ab98;
}

@media only screen and (max-width: 1111px) {
    .rental-vehicle-box__div {
        flex-wrap: wrap;
    }
    .rental-vehicle-image__div {
        width: 100%;
        height: auto;
    }

    .rental-vehicle-image__img {
        width: 66%;
        height: auto;
    }

    .rental-vehicle-data__div {
        width: 75%;
        height: 33%;
    }

    .rental-vehicle-huur-box__div {
        width: 25%;
    }

    .rental-vehicle-huurprijs__p {
        font-size: max(25px,4vw);
    }

    .rental-vehicle-kosten__p {
        font-size: max(10px,1.5vw);

    }

    #rental-vehicle-huur-box__button {
        width: 80%;
    }
}

@media only screen and (max-width: 660px) {
    .rental-vehicle-box__div {
        flex-direction: column;
        align-items: center;
        margin: 2px auto;
        width: 96%;
    }

    .rental-vehicle-image__div,
    .rental-vehicle-data__div,
    .rental-vehicle-huur-box__div {
        width: 100%;
        height: auto;
    }

    .rental-vehicle-image__img {
        width: 100%;
        height: auto;
    }

    .rental-vehicle-data__div {
        align-items: center;
        text-align: center;
    }

    .rental-vehicle-title__p {
        font-size: 0.9rem;
    }

    .rental-vehicle-info__p {
        font-size: 1.2rem;
    }

    .rental-vehicle-auto__h3 {
        text-align: center;
    }

    .rental-vehicle-data-columns__div {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .rental-vehicle-data-column1__div,
    .rental-vehicle-data-column2__div {
        width: 100%;
        margin: 0 0;
    }

    .rental-vehicle-huurprijs__p {
        margin-top: 10px;
        font-size: 2rem;
    }

    .rental-vehicle-kosten__p {
        font-size: 1rem;
    }

    #rental-vehicle-huur-box__button {
        width: 60%;
        height: 5%;
        font-size: 2rem;
        margin: 10px auto;
    }
}
