.verhuurde-pagina__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px auto;
    gap: 15px;
}

.verhuurde-pagina-title__h1 {
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 20px;
}

.verhuurde-filter-box__div {
    display: flex;
    gap: 20px;
    border: 3px solid black;
    border-radius: 8px;
    background-color: whitesmoke;
    width: 64.5%;
    height: auto;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
}

.verhuurde-filter-box__div div {
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.verhuurde-filter-box__div div label {
    font-size: 1.2em;
    font-weight: bold;
}

.verhuurde-filter-box__div div select {
    width: 100px;
}

.verhuurde-filter-datums__div {
    display: flex;
    flex-direction: row;
}
.verhuurde-filter-reset-filters__div button,
.verhuurde-filter-download-button__div button {
    width: auto;
    padding: 5px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.5em;
}

.verhuurde-filter-reset-filters__div button {
    background-color: red;
}
.verhuurde-filter-reset-filters__div button:hover {
    background-color: #DC0000FF;
}
.verhuurde-filter-reset-filters__div button:active {
    background-color: #9B0000FF;
}

.verhuurde-voertuig-box__div {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border: 3px solid black;
    border-radius: 8px;
    min-width: 66%;
    min-height: 550px;
    padding: 0 5px;
    margin: auto;
    gap: 5px;
}

.verhuurde-voertuig-box-huurinformatie__div {
    display: flex;
    border-radius: 6px;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5em;
    padding-bottom: 5px;
}